<a href="https://colab.research.google.com/github/MK2709/Pyhton-Assigment/blob/main/FZTH_Statistics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from scipy import stats

salary = [102, 33, 26, 27, 30, 25, 33, 33, 24]
salary_2= [1, 10, 7, 12, 0, 30, 15, 22, 8, 2]

mean_salary = np.mean(salary)
print("mean:", mean_salary)

median_salary = np.median(salary)
print("median:", median_salary)

mode_salary = stats.mode(salary)
print("mode:", mode_salary)
print()
print()
mean_salary_2 = np.mean(salary_2)
print("mean:", mean_salary_2)

median_salary_2 = np.median(salary_2)
print("median:", median_salary_2)

mode_salary_2 = stats.mode(salary_2)
print("mode:", mode_salary_2)

mean: 37.0
median: 30.0
mode: ModeResult(mode=array([33]), count=array([3]))


mean: 10.7
median: 9.0
mode: ModeResult(mode=array([0]), count=array([1]))

In [ ]:
import numpy as np

salary = [102, 33, 26, 27, 30, 25, 33, 33, 24]

print("Range: ", (np.max(salary)-np.min(salary)))

print("Variance: ", (np.var(salary)))

print("Std: ", (np.std(salary)))

Range:  78
Variance:  539.5555555555555
Std:  23.22833518691246

In [ ]:
import numpy as np

salary = [1, 10, 7, 12, 0, 30, 15, 22, 8, 2]

print("Range: ", (np.max(salary)-np.min(salary)))

print("Variance: ", (np.var(salary)))

print("Std: ", (np.std(salary)))

Range:  30
Variance:  82.61
Std:  9.089004345911603

In [ ]:
listem=[9, 11, 4, 14, 8, 2, 10, 3, 10, 9, 6, 0, 1]
listem_2=[8, 10, 4, 24, 8, 3, 10, 3, 40, 7, 6, 12, 4]

print(sorted(listem))
print(sorted(listem_2))

[0, 1, 2, 3, 4, 6, 8, 9, 9, 10, 10, 11, 14]
[3, 3, 4, 4, 6, 7, 8, 8, 10, 10, 12, 24, 40]

In [ ]:

temp=[93,84,82,78,98,70]

number_of_people=[13,10, 11, 8, 15, 9]

print("covariance: ", np.cov(temp, number_of_people))

print("correlation: ", np.corrcoef(temp, number_of_people))

covariance:  [[102.56666667  24.        ]
 [ 24.           6.8       ]]
correlation:  [[1.         0.90876934]
 [0.90876934 1.        ]]